@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --foreground-rgb: 26, 26, 26;
    /* light-mode fonts */
    --text-muted-foreground-rgb: 107, 114, 128;
    /* dark-mode fonts */
    --background-start-rgb: 225, 225, 225;
    /* light-mode back */
    --background-end-rgb: 225, 225, 225;
    /* light-mode back (consistent) */
    --primary-rgb: 255, 107, 128;
    /* light-mode primary */
    --menu-color-rgb: 175, 175, 175;
    /* light-mode menu-color */
    --profile-color-rgb: 125, 125, 125;
    /* light-mode profile-color */
    --menu-color-hover-rgb: 207, 207, 207;
    /* light-mode menu-color-hover */
    --hover-color-rgb: 255, 0, 63;
    /* light-mode hover-color */
    --muted-color-rgb: 107, 114, 120;
  }

  .dark {
    --foreground-rgb: 245, 245, 245;
    /* Lighter text for better contrast */
    --text-muted-foreground-rgb: 107, 114, 128;
    /* dark-mode fonts */
    --background-start-rgb: 23, 23, 28;
    /* Darker background */
    --background-end-rgb: 23, 23, 28;
    /* Darker background (consistent) */
    --primary-rgb: 217, 48, 79;
    /* dark-mode primary */
    --menu-color-rgb: 43, 45, 59;
    /* dark-mode menu-color */
    --profile-color-rgb: 43, 44, 49;
    /* dark-mode profile-color */
    --menu-color-hover-rgb: 78, 78, 105;
    /* dark-mode menu-color-hover */
    --hover-color-rgb: 158, 0, 42;
    /* dark-mode hover-color */
    --muted-color-rgb: 107, 114, 120;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

body {
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-background {
    background-color: rgb(var(--background-start-rgb));
  }

  .bg-primary {
    background-color: rgb(var(--primary-rgb));
  }

  .bg-menu {
    background-color: rgb(var(--menu-color-rgb));
  }

  .bg-profile {
    background-color: rgb(var(--profile-color-rgb));
  }

  .bg-menu-hover {
    background-color: rgb(var(--menu-color-hover-rgb));
  }

  .bg-hover {
    background-color: rgb(var(--hover-color-rgb));
  }

  .text-fonts {
    color: rgb(var(--foreground-rgb));
  }

  .text-muted-foreground {
    color: rgb(var(--text-muted-foreground-rgb));
  }

  .rounded-lg {
    border-radius: 0.5rem;
  }

  .rounded-full {
    border-radius: 9999px;
  }

  .text-muted {
    color: rgb(var(--muted-color-rgb));
  }

  .text-muret-forground {
    color: rgb(var(--foreground-rgb));
  }

  .border-muted-foreground {
    border-color: rgb(var(--text-muted-foreground-rgb));
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }

  .animate-fadeOut {
    animation: fadeOut 0.5s ease-in-out;
  }

  .animate-fadeInOut {
    animation: fadeInOut 2s ease-in-out;
  }

  .animate-gradient {
    animation: gradientAnimation 8s ease infinite alternate;
  }

  .bg-primary-gradient {
    background: linear-gradient(45deg,
        rgb(var(--primary-rgb)),
        rgb(var(--hover-color-rgb)),
        rgb(var(--menu-color-hover-rgb)),
        rgb(var(--profile-color-rgb)));
    background-size: 600%;
    animation: gradientAnimation 10s ease infinite alternate;
  }
}